.sidebar
	ul
		li.light
			a(href="#short-vita", data-aos="fade-left", data-aos-delay="800", data-aos-once="true")
				span 1.
				| Short Vita
		li.light
			a(href="#skillset", data-aos="fade-left", data-aos-delay="900", data-aos-once="true")
				span 2.
				| Skillset
		li.light
			a(href="#why-me", data-aos="fade-left", data-aos-delay="1000", data-aos-once="true")
				span 3.
				| Warum ich?