meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
//- meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0')
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
title #{title}
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
meta(name='keywords', content="Karlsruhe, Frontend, Front-end, Webentwicklung, Webdeveloper, Masterthesis, Masterarbeit, Masterabschlussarbeit, Praktikant, Praktikum")
meta(name='author', content="Florian Boerner")

//- open:graph meta keys
meta(property="og:site_name", content="Pixel Cooking")
meta(property="og:title", content="Cooking Frontends since 2015")
meta(property="og:description", content="	Hi, ich möchte gerne bei Ihnen meine Masterthesis schreiben. Ich interessiere mich für Frontend Entwicklung.")
meta(property="og:url", content="https://pixel.cooking")
meta(property="og:image", content="https://pixel.cooking/images/social-share/open-graph-image.jpg")
meta(property="og:type", content="website")


link(rel="stylesheet", href="/resources/purecss/pure.css")
link(rel="stylesheet", href="/resources/purecss/purecss-modules/grids-responsive-min.css")
link(rel="stylesheet", href="/resources/aos/aos.css")



//- browser header color on chrome and opera mobile  (39+)
//- read: https://developers.google.com/web/fundamentals/design-and-ui/browser-customization/?hl=en
meta(name="theme-color", content="#2a3c5c")
//- Change the status bar appearance
meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")


script(src='/resources/modernizr/modernizr.js')