//#gridOverlay

body
    .bg-overlay    
    nav
        .nav-wrapper
            .nav-burger-bar
            #open-nav.nav-burger-icon
                .nav-burger-line
                .nav-burger-line
                .nav-burger-line
            .nav-swipe-area
            #nav-layer.nav-layer
                .nav-close-wrapper
                    #close-nav.nav-close
                        .nav-burger-cross
                        .nav-burger-cross
                
                .nav-content

                    ul.nav-list
                        li.nav-element
                            a.nav-link.bold.uppercase(href='/') Main
                        li.nav-element
                            a.nav-link.bold.uppercase(href='/about-me.html') About Me
                        li.nav-element
                            a.nav-link.bold.uppercase(href='/work.html') Work
                        li.nav-element
                            a.nav-link.bold.uppercase(href='/contact.html') Contact
                    .social-wrapper
                        a(href="https://de.linkedin.com/in/florian-b%25C3%25B6rner-919359110", target="_blank")
                            .social-linked
                        a(href="https://codepen.io/burnaDLX/", target="_blank")
                            .social-codepen
                        a(href="https://github.com/burnaDLX", target="_blank")
                            .social-github