.impressum.pxc-modal-wrapper
	.pxc-modal
		.pxc-modal-content

			.pxc-modal-close-cross
				.pxc-burger-cross
				.pxc-burger-cross

			.container
				.pure-g
					.pure-u-1
						h2.pxc-modal-headline.bold.uppercase.l-space-2 Impressum
					.pure-u-1
						p.pxc-modal-text.italic Angaben gemäß § 5 TMG
						.space-1-2
					.pure-u-1.pure-u-sm-1.pure-u-md-1-2
						h3.pxc-modal-subheadline.bold.uppercase.no-space Inhaber
						p.pxc-modal-text Florian Börner 
							br
							| Hohenzollernstraße 18
							br
							| D-76135 Karlsruhe
					.pure-u-1.pure-u-sm-1.pure-u-md-1-2
						h3.pxc-modal-subheadline.bold.uppercase.no-space Kontakt:
						p.pxc-modal-text
							span.pxc-modal-envelope &#x2709;
							span
								a.bold(href="mailto:hello@pixel.cooking", target="_parent") hello@pixel.cooking
							span 


					.pure-u-1
						h3.pxc-modal-subheadline.bold.uppercase Haftungsausschluss
						p.pxc-modal-text-headline.bold Haftung für Inhalte
						p.pxc-modal-text
							| Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
							br
							| Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden diese Inhalte umgehend von mir entfernt.

						p.pxc-modal-text-headline.bold Haftung für Links
						p.pxc-modal-text
							| Meine Webseite enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss haben. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
							br
							| Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen.

						p.pxc-modal-text-headline.bold Urheberrecht
						p.pxc-modal-text
							| Die von mir erstellten Inhalte und Werke auf dieser Seite unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
							br
							| Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.

					.pure-u-1
						a.pxc-modal-close-btn.pxc-small-btn.right.uppercase Zurück zur Seite

.privacy-policy.pxc-modal-wrapper
	.pxc-modal
		.pxc-modal-content

			.pxc-modal-close-cross
				.pxc-burger-cross
				.pxc-burger-cross

			.container

				.pure-g

					.pure-u-1
						h2.pxc-modal-headline.bold.uppercase.l-space-2 Daten&shy;schutz&shy;erklärung
						.space-1-2

					.pure-u-1
						p.pxc-modal-text-headline.bold Datenschutz
						p.pxc-modal-text
							| Den Schutz Ihrer persönlichen Daten nehme ich sehr ernst und behandele Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
							br
							| Die Nutzung meiner Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf  meiner Seiten personenbezogene Daten (beispielsweise  die E-Mail-Adresse im Kontaktformular) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden von mir niemals an Dritte weitergegeben.
							
						p.pxc-modal-text-headline.bold Kontaktformular
						p.pxc-modal-text
							| Wenn Sie mir per Kontaktformular Anfragen zukommen lassen, werde ich Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen von mir gespeichert. Diese Daten gebe ich nan niemand weiter.

						p.pxc-modal-text-headline.bold SSL-Verschlüsselung
						p.pxc-modal-text
							| Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an mich als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von 
							span.italic "http://" 
							| auf 
							span.italic "https://"  
							| wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
							br
							| Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an mich übermitteln, nach aktuellem Stand der Technik nicht von Dritten mitgelesen werden.

					.pure-u-1
						a.pxc-modal-close-btn.pxc-small-btn.right.uppercase Zurück zur Seite