script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script.
	if (!window.jQuery) document.write('<script src="/resources/jquery/jquery-2.2.4.js"><\/script>');

script(src="/resources/aos/aos.js")

//- remove on deploy
//- script(src='/javascripts/common/viewportsize.js') 

script(src='/javascripts/common/menu.js')
script(async src='/javascripts/common/scrollup.js')
script(async src='/javascripts/common/modal.js')