doctype html
html.no-js(lang="de")
    head
        include common/head.pug
        title #{title}
        meta(name='description', content="Auf dieser Seite sehen Sie einen Auszug meiner letzten Arbeiten.")
        link(rel="stylesheet", href="stylesheets/pages/work.css")

    body
        header
            include common/menu.pug

        main

            .header.page-wrapper

            .container
                .pure-g.page-wrapper.no-fade-in
                    .pure-u-1
                        h2: span #{title}

                    include common/breadcrumbs.pug

                    .space-1

                    .pure-u-1
                        p Egal ob KISS, DRY oder Separation of Concerns, mit jeder geschriebenen Zeile wächst mein Erfahrungs&shy;schatz an Best-Practices, Auto&shy;matisierung und Cross-Browser-Tricks.
                    
                    .space-1

                    .section-intro.pure-u-1
                        p.italic.light.l-space-1 Scrollen Sie durch eine Auswahl meiner letzten Projekte:
                    
                    .space-1
                    
                    .pure-u-1
                        section.tl-container
                            
                            .tl-line

                            .tl-elements

                                .tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-0
                                    .tl-content
                                        
                                        h5.tl-headline.bold Praktikum + Masterthesis

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Nun ist es bald an der Zeit mein Master&shy;studium angemessen zu beenden. Da ich mein Wissen gerne in der Arbeits&shy;praxis Ihres Unter&shy;nehmens erproben möchte, suche ich eine Stelle als Praktikant und im Anschluss als Thesianer.
                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Praktikant / Masterand

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | Offen für alles

                                        a.pxc-small-btn.right.uppercase(target="_self", href="/about-me.html#short-vita") Zur Vita
                                        p.tl-date.bold ab sofort
                                

                                .tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-5
                                    .tl-content
                                        
                                        h5.tl-headline.bold Pixel.Cooking Launch

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Du surfst gerade drauf ;-) Ich hab ein Repository mit der Source auf Github bereitgestellt, dass du gerne testen kannst, um die Seite vor dem Deploy zu sehen.
                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Konzeption, Design und Ent&shy;wicklung der Webseite.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr

                                                | Balsamiq Mockups, Adobe Photoshop, NodeJS (+ verschieden Module), Pug Templating Engine, pureCSS, modernizrJS, jQuery, jQuery Mobile Touch Events, swiper, ActionOnScroll, fullsceenJS, font-loading Script vom Smashing Magazine.


                                        a.pxc-small-btn.right.uppercase(target="_blank", href="//github.com/") Zum Repository
                                        p.tl-date.bold März 2017 - April 2017 
                                

                                #pgp-bird.tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-1
                                    .tl-content
                                        
                                        h5.tl-headline.bold PGP-Bird (Arbeitstitel, WIP)

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Mein aktuelles, hybrides App-Projekt verfolgt das Ziel PGP-Verschlüsselung für jedermann benutzbar zu machen.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Konzeption, Design und Ent&shy;wicklung der App.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | Balsamiq Mockups, Adobe Photoshop, AngularJS und Ionic, Apache Cordova, KBPGPJS und toastrJS

                                        a.pxc-small-btn.right.uppercase(target="_self", href='/projects/pgp-bird/index.html') Mehr Details
                                        p.tl-date.bold November 2016 - jetzt


                                #codepen.tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-2
                                    .tl-content
                                        h5.tl-headline.bold CSS Fingerübungen
                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Die meiste Zeit benutze ich die Seite Codepen.io als Tutorial-IDE, um auf die Schnelle eine neue Library oder eine Idee auszuprobieren. Manchmal jedoch nehme ich mir auch mal etwas mehr Zeit - einige dieser Arbeiten können Sie in meinem Showcase sehen.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Frontend-Design und -Programmierung.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | bisher viele verschiedene Frame&shy;works und Libraries.

                                        a.pxc-small-btn.right.uppercase(target="_blank", href='http://codepen.io/burnaDLX/') Zum Showcase
                                        p.tl-date.bold Oktober 2015 - jetzt


                                .tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-3
                                    .tl-content
                                        
                                        h5.tl-headline.bold Red Riding Hood

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Dieses Projekt entstand als gemeinsame Arbeit im Rahmen eines interessanten Seminars über die Gestaltung inter&shy;aktiver Video&shy;umgebungen. Die Web&shy;seite wurde nach der Abgabe von mir, in Absprache mit dem Dozenten, noch weiter optimiert.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Frontend-Programmierung.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | jQuery, screenfull.js, synchronize.js, seriously.js und popcorn.js.

                                        a.pxc-small-btn.right.uppercase(target='_blank', href='/projects/red-riding-hood/index.html') Zum Projekt
                                        p.tl-date.bold April 2016 - November 2016


                                .tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-4
                                    .tl-content
                                        
                                        h5.tl-headline.bold Virtual Jay

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Im zweiten Mastersemester bekamen wir die Chance, uns mit dem Audio-Programm Max und den Erweiterungen MSP und Jitter auseinander zu setzen. Dabei ist ein cooler Patcher entstanden, der sich durch Gesten steuern lässt. Dadurch soll das Gefühl imitiert werden, als Disk&shy;jockey an den Platten&shy;tellern zu stehen um zu „scratchen“.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Patcher-Programmierung, Web-Design und -Programmierung.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | jQuery, AnimateCSS, Max
                                                wbr
                                                | MSP/
                                                wbr
                                                | JITTER.

                                        a.pxc-small-btn.right.uppercase(target="_blank", href='/projects/virtual-jay/index.html') Zum Projekt
                                        p.tl-date.bold März 2016 - Juli 2016


                                .tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-5
                                    .tl-content
                                        
                                        h5.tl-headline.bold Doppelkopf Relaunch

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Website-Relaunch des befreundeten Doppelkopf-Studios aus Salzburg. Die Seite wird seit dem Relaunch von mir betreut und stetig weiter&shy;entwickelt und spiegelt daher ungefähr mein aktuelles Können wieder.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | Begleitung in der Konzeptions- und Design&shy;phase , Frontend-Development.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | Axure, Adobe Photoshop, MaterializeCSS, jQuery, Modernizr, Fontfaceobserver, MixItUp, jQuery Touch, vimeoAPI und YoutubeAPI.

                                        a.pxc-small-btn.right.uppercase(target="_blank", href='http://www.doppelkopf-studio.at') Zur Website
                                        p.tl-date.bold Februar 2016 - März 2016

                                #sketchbook.tl-block(data-aos='fade-up', data-aos-easing="ease-in-sine")
                                    .tl-icon-wrapper.circle
                                        .tl-icon.tl-icon-0
                                    .tl-content
                                        
                                        h5.tl-headline.bold Sketchbook

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Projektbeschreibung:&thinsp;
                                                wbr
                                                | Begleitend zur Bachelor&shy;thesis entwickelte App.
                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Rolle:&thinsp;
                                                wbr
                                                | App-Konzeption- und Design, Frontend- und Backend-Development.

                                        .tl-wrapper
                                            p.tl-description.normal
                                                span.tl-subheadline.bold.l-space-1 Tools:&thinsp;
                                                wbr
                                                | Balsamiq Mockups, Adobe Photoshop, AngularJS und Ionic, Apache Cordova, PouchDB, CouchDB.

                                        a.pxc-small-btn.right.uppercase(target="_self", href='/projects/sketchbook/index.html') Mehr Details
                                        p.tl-date.bold März 2015 - August 2015


                    .space-1

                    .pxc-outro-wrapper.pure-u-1.space-1
                        .section-outro(data-aos='fade-up', data-aos-easing="ease-in-sine")
                            p.italic.light.l-space-1.center-align Von meinen weiteren Projekten erzähle ich Ihnen gerne in einem Vorstellungsgespräch.

                        .pxc-btn-wrapper(data-aos='fade-up', data-aos-easing="ease-out-sine", data-aos-offset="-30", data-aos-delay="50")
                            a(href="/contact.html").pure-button.pxc-btn-l
                                span.btn-txt.uppercase.bold.l-space-2 Kontaktieren
                                span.btn-layer


                    include common/footer.pug

        include common/modal.pug
        include common/scrollup.pug
        include common/scripts.pug
        
        script(async, src='javascripts/pages/work.js')
        script(src='/javascripts/common/store-fonts.js')
        script(src='//localhost:35729/livereload.js')